{{ include('pages/inc/header.html.twig') }}
<br />
<a href="{{ absolute_url(asset('')) }}app_dev.php/create" class="btn btn-primary btn-xs" style="float: right; margin-right: 100px" title="Create Post"> Create Post </a>
<br /><br />
<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    {% for post in posts %}
    <tr>
      <th>{{ post.id }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.description }}</td>
      <td>{{ post.category }}</td>
      <td>
          <a href="{{ absolute_url(asset('')) }}app_dev.php/view/{{ post.id }}" class="btn btn-primary btn-xs" title="View"> View </a>
          <a href="{{ absolute_url(asset('')) }}app_dev.php/edit/{{ post.id }}" class="btn btn-warning btn-xs" title="Edit"> Edit </a>
          <a href="{{ absolute_url(asset('')) }}app_dev.php/delete/{{ post.id }}" class="btn btn-danger btn-xs" title="Delete"> Delete </a>
      </td>
    </tr>
    {% else %}
    <tr>
      <td> No Records Found !!! </td>
    </tr>
    {% endfor %}
  </tbody>

</table> 

{{ include('pages/inc/footer.html.twig') }}
